/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Passion+One&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  cursor: crosshair;
}

/* Variables */
$cardo: "Cardo", serif;
$passionOne: "Passion One", cursive;
$black: #222;
$off-white: #edeee1;
$goldenrod: goldenrod;
$pattern-dark: url("https://storage.googleapis.com/subtlepatterns-production/designers/subtlepatterns/uploads/carbon_fibre.png");
$pattern-light: url("https://storage.googleapis.com/subtlepatterns-production/designers/subtlepatterns/uploads/white_carbon.png");

body {
  // background: repeat $pattern-light;
  overflow: hidden;
  scroll-behavior: smooth;
  color: $black;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: background 250ms ease-in-out;
}

// MAIN 

.text-container {
  position: relative;
  width: 100vw;
  margin-top: auto;
  margin-bottom: auto;
  height: clamp(4rem, 10vw, 20rem);
  z-index: 5;
  font-size: clamp(1rem, 2.3vw, 2rem);
  font-family: $cardo;

  .revolving-text {
    position: absolute;
    left: 2.5vw;
    top: 25%;
    transition: all 350ms ease-in-out;
  }

  .text-1 {
    opacity: 1;
  }

  .text-2 {
    transform: rotateX(-90deg) translateY(40%);
    transform-origin: bottom center;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    .text-1 {
      transform: rotateX(90deg) translateY(-40%);
      transform-origin: top center;
      opacity: 0;
    }
    .text-2 {
      transform: rotateX(0deg) translateY(0);
      opacity: 1;
    }
  }
}

// MARQUEE

@keyframes marqueeOne {
  0% {
    transform: translateX(var(--move-initial));
  }

  100% {
    transform: translateX(var(--move-final));
  }
}

// marqueeTwo moves from LEFT to RIGHT.
@keyframes marqueeTwo {
  0% {
    transform: translateX(var(--move-final));
  }

  100% {
    transform: translateX(var(--move-initial));
  }
}

.marquee-container {
  position: relative;
  width: 100%;
  display: flex;
  place-items: center;
  font-family: $passionOne;
  text-transform: uppercase;
}

.marquee {
  position: absolute;
  // Offset is just the off-screen placement of the marquees. We don't want them dead-center.
  --offset: 10vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));

  &__inner {
    // Width of the div is set to FIT its content.
    width: fit-content;
    display: flex;
    position: relative;
    opacity: 0;
    
    // white-space: nowrap; means on overflow, the text doesn't wrap to the next line.
    // This allows us to have a single line of text, regardless of the font-size.
    white-space: nowrap;
    span {
      pointer-events: none;
      font-size: 8vw;
      padding: 0 2vw;
      color: $black;
      background-color: $goldenrod;
    }
  }
  
  .border-text {
    top: 0;
    // Here our text moves in the x-direction (left/right) based on our variable above.
    transform: translateX(var(--move-initial));
    animation: marqueeOne 10s linear infinite;

    span {
      z-index: -5;
      // This is how you get those 'bordered' texts.
      -webkit-text-stroke: 2px $black;
      -webkit-text-fill-color: transparent;
      @media (min-width: 1024px) {
        -webkit-text-stroke: 3px $black;
      }
    }
  }

  .block-text {
    // Here our text moves in the x-direction (left/right) based on our variable above.
    transform: translateX(var(--move-final));
    animation: marqueeTwo 10s linear infinite;
    span {
      z-index: 10;
    }
  }
  
  &.marquee-one {
    transform: rotateZ(-12deg);
    transform-origin: bottom left;
    left: 5vw;
    top: 5vh;
    @media (min-width: 1440px) {
      top: 5vh;
    }
    @media (min-width: 1600px) {
      top: 15vh;
    }
  }
  &.marquee-two {
    transform: rotateZ(15deg);
    transform-origin: top left;
    left: 25vw;
    top: 0vh;
    @media (min-width: 1440px) {
      top: -15vh;
    }
    @media (min-width: 1600px) {
      top: -25vh;
    }
  }
  &.marquee-three {
    transform: rotateZ(10deg);
    transform-origin: bottom left;
    bottom: 10vh;
    @media (min-width: 1440px) {
      bottom: 5vh;
    }
    @media (min-width: 1600px) {
      bottom: 10vh;
    }
  }
  &.marquee-four {
    transform: rotateZ(-15deg);
    transform-origin: top left;
    left: 25vw;
    bottom: 0vh;
    @media (min-width: 1440px) {
      bottom: -15vh;
    }
    @media (min-width: 1600px) {
      bottom: -20vh;
    }
  }
 
}
.shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.hover-info-text {
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.15);
  color: $off-white;
  padding: 1rem;
  display: block;
  width: fit-content;
}

// CUSTOM CURSOR

.cursor {
  position: absolute;
  width: 48px;
  height: 48px;
  z-index: 1000;
  border-radius: 50%;
  //  We need "pointer-events: none" so that we're not interacting with this div.
  //  We want to click/hover THROUGH it.
  pointer-events: none;
  transition: transform 200ms ease-in-out;

  .cursor-circle {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 1px solid black;
  }
}

@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.rotate {
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

// inspired by:
// Codepen: https://codepen.io/kvncnls/pen/LYzdveg 