/* Global Styles */
@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Passion+One&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  cursor: crosshair;
}

/* Variables */
body {
  background: repeat url("https://storage.googleapis.com/subtlepatterns-production/designers/subtlepatterns/uploads/white_carbon.png");
  overflow: hidden;
  scroll-behavior: smooth;
  color: #222;
  width: 100%;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: background 250ms ease-in-out;
  transition: background 250ms ease-in-out;
}

.text-container {
  position: relative;
  width: 100vw;
  margin-top: auto;
  margin-bottom: auto;
  height: clamp(4rem, 10vw, 20rem);
  z-index: 5;
  font-size: clamp(1rem, 2.3vw, 2rem);
  font-family: "Cardo", serif;
}

.text-container .revolving-text {
  position: absolute;
  left: 2.5vw;
  top: 25%;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.text-container .text-1 {
  opacity: 1;
}

.text-container .text-2 {
  -webkit-transform: rotateX(-90deg) translateY(40%);
          transform: rotateX(-90deg) translateY(40%);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-container:hover .text-1 {
  -webkit-transform: rotateX(90deg) translateY(-40%);
          transform: rotateX(90deg) translateY(-40%);
  -webkit-transform-origin: top center;
          transform-origin: top center;
  opacity: 0;
}

.text-container:hover .text-2 {
  -webkit-transform: rotateX(0deg) translateY(0);
          transform: rotateX(0deg) translateY(0);
  opacity: 1;
}

@-webkit-keyframes marqueeOne {
  0% {
    -webkit-transform: translateX(var(--move-initial));
            transform: translateX(var(--move-initial));
  }
  100% {
    -webkit-transform: translateX(var(--move-final));
            transform: translateX(var(--move-final));
  }
}

@keyframes marqueeOne {
  0% {
    -webkit-transform: translateX(var(--move-initial));
            transform: translateX(var(--move-initial));
  }
  100% {
    -webkit-transform: translateX(var(--move-final));
            transform: translateX(var(--move-final));
  }
}

@-webkit-keyframes marqueeTwo {
  0% {
    -webkit-transform: translateX(var(--move-final));
            transform: translateX(var(--move-final));
  }
  100% {
    -webkit-transform: translateX(var(--move-initial));
            transform: translateX(var(--move-initial));
  }
}

@keyframes marqueeTwo {
  0% {
    -webkit-transform: translateX(var(--move-final));
            transform: translateX(var(--move-final));
  }
  100% {
    -webkit-transform: translateX(var(--move-initial));
            transform: translateX(var(--move-initial));
  }
}

.marquee-container {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  font-family: "Passion One", cursive;
  text-transform: uppercase;
}

.marquee {
  position: absolute;
  --offset: 10vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
}

.marquee__inner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  opacity: 0;
  white-space: nowrap;
}

.marquee__inner span {
  pointer-events: none;
  font-size: 8vw;
  padding: 0 2vw;
  color: #222;
  background-color: goldenrod;
}

.marquee .border-text {
  top: 0;
  -webkit-transform: translateX(var(--move-initial));
          transform: translateX(var(--move-initial));
  -webkit-animation: marqueeOne 10s linear infinite;
          animation: marqueeOne 10s linear infinite;
}

.marquee .border-text span {
  z-index: -5;
  -webkit-text-stroke: 2px #222;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 1024px) {
  .marquee .border-text span {
    -webkit-text-stroke: 3px #222;
  }
}

.marquee .block-text {
  -webkit-transform: translateX(var(--move-final));
          transform: translateX(var(--move-final));
  -webkit-animation: marqueeTwo 10s linear infinite;
          animation: marqueeTwo 10s linear infinite;
}

.marquee .block-text span {
  z-index: 10;
}

.marquee.marquee-one {
  -webkit-transform: rotateZ(-12deg);
          transform: rotateZ(-12deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  left: 5vw;
  top: 5vh;
}

@media (min-width: 1440px) {
  .marquee.marquee-one {
    top: 5vh;
  }
}

@media (min-width: 1600px) {
  .marquee.marquee-one {
    top: 15vh;
  }
}

.marquee.marquee-two {
  -webkit-transform: rotateZ(15deg);
          transform: rotateZ(15deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  left: 25vw;
  top: 0vh;
}

@media (min-width: 1440px) {
  .marquee.marquee-two {
    top: -15vh;
  }
}

@media (min-width: 1600px) {
  .marquee.marquee-two {
    top: -25vh;
  }
}

.marquee.marquee-three {
  -webkit-transform: rotateZ(10deg);
          transform: rotateZ(10deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  bottom: 10vh;
}

@media (min-width: 1440px) {
  .marquee.marquee-three {
    bottom: 5vh;
  }
}

@media (min-width: 1600px) {
  .marquee.marquee-three {
    bottom: 10vh;
  }
}

.marquee.marquee-four {
  -webkit-transform: rotateZ(-15deg);
          transform: rotateZ(-15deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  left: 25vw;
  bottom: 0vh;
}

@media (min-width: 1440px) {
  .marquee.marquee-four {
    bottom: -15vh;
  }
}

@media (min-width: 1600px) {
  .marquee.marquee-four {
    bottom: -20vh;
  }
}

.shadow {
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.hover-info-text {
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.15);
  color: #edeee1;
  padding: 1rem;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.cursor {
  position: absolute;
  width: 48px;
  height: 48px;
  z-index: 1000;
  border-radius: 50%;
  pointer-events: none;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.cursor .cursor-circle {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 1px solid black;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

.rotate {
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
/*# sourceMappingURL=style.css.map */