$main-title:clamp(3rem, 6vw, 5rem);


h1 {
        font-family: 'Meiland';
        color: var(--text1);
        font-size: $main-title;
        letter-spacing: var(--font-letterspacing-2);
    }

h2 {
        font-family: 'Meiland';
        color: var(--brand);
        font-size: var(--font-size-fluid-3);
        letter-spacing: var(--font-letterspacing-2);
    }