@use 'abstracts/' as a;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
//   cursor: crosshair;
}

.container {
  width: 100%;
  z-index: 2;
}

.wrapper-light{
  background-color: var(--surface1);
}

.wrapper-dark{
  background-color: var(--brand);
}

