@use 'abstracts/' as a;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
//   cursor: crosshair;
}
html{
    background-color: var(--surface1);
    overflow-x: hidden;
}

.container {
  max-width: 1320px;
  z-index: 2;
}

.wrapper-light{
  background-color: var(--surface1);
  width: 100%;
}

.wrapper-dark{
  background-color: var(--brand);
  width: 100%;
}

.noise-overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 5000;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    background-position: 0 0;
    background-size: 250px 250px;
    opacity: .4;
    pointer-events: none;
}
