@use '../abstracts/' as a;
$hero-logo: clamp(15em, 40vw, 30rem);

header {
    z-index: 0;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
}
.hero-section {
    
    text-align: center;
}
.name-section{
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center
}

.hero-logo-img {
    position: absolute;
    z-index: -1;
    opacity: var(--logo-opacity);
    width: $hero-logo;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
