$paragraph-xs: clamp(.625rem,1.8vw,0.875rem);
$h2-title: clamp(1.5rem,4.5vw,3.5rem);

.work-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: min(8rem, 6.5rem);
  overflow: hidden;

  h2,
  span {
    font-size: 3rem;
    color: var(--text4);
    margin: 0 var(--size-3);
  }
  span {
    opacity: 0.4;
  }
}

.project {
  max-width: 90rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  @media screen and (min-width: 800px) {
      padding: 0 1rem;
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: flex-end;
  }
}

.project-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: var(--surface2);
    
  img {
    width: 100%;
  }
  .img-1 {
    position: relative;
    z-index: 3;
  }
  .img-2 {
    position: absolute;
    top: 0;
    right: -90px;
  }
  .img-3 {
    position: absolute;
    top: 0;
    right: 90px;
  }
}

.project-description {
    width: 85%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: var(--font-lineheight-4);
    
    @media screen and (min-width: 800px) {
        margin-left: 3rem;
        h2 {
            font-size: $h2-title;
        }
    }

  p {
    text-align: justify;
    font-size: $paragraph-xs;
    color: var(--text1);
  }
  span {
      display: block;
      margin: 1rem 0;
      font-size: var(--font-size-0);
      color: var(--brand);
      text-transform: uppercase;
      font-weight: 700;
  }
}
