@use 'abstracts/' as a;
$paragraph-xs: clamp(.675rem,1.5vw,0.875rem);
$h2-title: clamp(1.5rem,4.5vw,3.5rem);


.work-container {
  width: 100%;
  display: flex;
  @include a.flex(column, center, center);
}

.section-title {
  @include a.flex(row, center, center);
  height: min(8rem, 6.5rem);
  overflow: hidden;

  h2, h4,
  span {
    color: var(--text5);
    margin: 0 var(--size-3);
  }
  span {
    opacity: 0.4;
  }
}
.next {
    height: min(5rem, 3.5rem);
  }

.project {
  max-width: 90rem;
  display: flex;
  @include a.flex(column, center, center);

    .right {
      order: 1
  };
  @media screen and (min-width: 750px) {
      padding: 0 1rem;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      align-items: flex-end;
      gap: 1rem;

       .right{
          grid-column: span 3;
          order: 0;
      }
      .left{
          grid-column: span 3;
      }
   }
  @media screen and (min-width: 1000px) {
      padding: 0 1rem;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      align-items: flex-end;
      gap: 3rem;    

      .right{
          grid-column: span 4;
          order: 0;
      }
      .left{
          grid-column: span 2;
      }
  }
   
}

.project-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: var(--surface2);
    
    
  img {
    width: 100%;
  }
  .img-1 {
    position: relative;
    z-index: 3;
  }
  .img-2 {
    position: absolute;
    top: 0;
    right: -20px;
  }
  .img-3 {
    position: absolute;
    top: 0;
    right: 20px;
  }
  .img-4 {
    position: relative;
    z-index: 3;
  }
  .img-5 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
  }
  .img-6 {
    position: relative;
    z-index: 3;
  }
  .img-7 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    opacity: 0;
    transition: opacity 1s ease-in;
    &:hover{
        opacity: 1;
    }
  }
}

.project-description {
    // width: 85%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: var(--font-lineheight-4);
    padding: 0 1.5rem;

    @media screen and (min-width: 750px) {
    padding: 0 1rem;
        h2 {
            font-size: $h2-title;
        }
    }

  p {
    text-align: justify;
    font-size: $paragraph-xs;
    color: var(--text1);
  }
  span {
      display: block;
      margin: 1rem 0;
      font-size: $paragraph-xs;
      color: var(--brand);
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.075em;
  }
}


